@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
}
form{
    padding: 20px;
}
body{
    display: grid;
    place-items: center;
    height: 100vh;
}
main{
 /* width: 500px; */
    font-family: "Poppins", sans-serif;
}
form{
    background-color: #f9f7f7;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 20%);
}
h1{
    text-align: center;
    margin-bottom: 10px;
}
.mitad{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.mitad input{
    width: 45%;
}
.completo input{
    width: 100%;
}
.completo{
    display: flex;
    align-items: center;
    width: 100%;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 7px;
    border: 0;
    background-color: #e7e6e6;
    border-radius: 5px;
}
input[type=button]{
    background-color: #a5a0a0;
    border: 0px;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 17px;
    margin-top: 15px;

}
input[type=button]:hover{ /* hand over */
cursor: pointer;
}
.myButton{
    display: flex;
    justify-content:center ;
}